.AppRoot { position:relative; height:100vh; overflow-y:auto; overflow-x:hidden; color:#fff; scroll-snap-type: y mandatory; }
.AppBelow { position:relative; z-index:10; }
.AppFooter { padding:2rem; text-align:center; font-size:.75rem; opacity:.6; }
