.HeroSection-bg{
    position:absolute;
    inset:0;
    z-index:var(--z-middle);
    pointer-events:none
}

.HeroSection-bg::before{
    content:"";
    position:absolute;
    inset:0;
    background:
        radial-gradient(60vmax 30vmax at 20% 20%, color-mix(in srgb, var(--color-pri) 30%, transparent), transparent 60%),
        radial-gradient(48vmax 24vmax at 80% 30%, color-mix(in srgb, var(--color-fg-light) 22%, transparent), transparent 60%),
        radial-gradient(40vmax 20vmax at 50% 80%, color-mix(in srgb, var(--color-pri) 20%, transparent), transparent 60%)
}

.HeroSection-bgCanvas{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    filter:drop-shadow(0 0 12px rgba(0,0,0,.2)) saturate(110%);
}
