/* Styles specific to the DatePill component */
.EduTimeline-datePill { 
    display:inline-flex; 
    align-items:center; 
    font-size:var(--font-m); 
    white-space: nowrap; 
    pointer-events: none;
}
